<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Minton - Responsive Admin Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="Coderthemes" name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets\images\favicon.ico">

    <!-- third party css -->
    <link href="assets\libs\datatables\dataTables.bootstrap4.css" rel="stylesheet" type="text/css">
    <link href="assets\libs\datatables\responsive.bootstrap4.css" rel="stylesheet" type="text/css">
    <link href="assets\libs\datatables\buttons.bootstrap4.css" rel="stylesheet" type="text/css">
    <link href="assets\libs\datatables\select.bootstrap4.css" rel="stylesheet" type="text/css">
    <!-- third party css end -->

    <!-- App css -->
    <link href="assets\css\bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="assets\css\icons.min.css" rel="stylesheet" type="text/css">
    <link href="assets\css\app.min.css" rel="stylesheet" type="text/css">
    <script>
        function exportTableToExcel(tableID, filename = '') {
            var downloadLink;
            var dataType = 'application/vnd.ms-excel';
            var tableSelect = document.getElementById(tableID);
            var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

            // Specify file name
            filename = filename ? filename + '.xls' : 'excel_data.xls';

            // Create download link element
            downloadLink = document.createElement("a");

            document.body.appendChild(downloadLink);

            if (navigator.msSaveOrOpenBlob) {
                var blob = new Blob(['\ufeff', tableHTML], {
                    type: dataType
                });
                navigator.msSaveOrOpenBlob(blob, filename);
            } else {
                // Create a link to the file
                downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

                // Setting the file name
                downloadLink.download = filename;

                //triggering the function
                downloadLink.click();
            }
        }
    </script>

</head>

<body>

    <!-- Begin page -->
    <!-- Begin page -->
    <div id="wrapper">
     <!-- Topbar Start -->
     <div class="navbar-custom">
         <ul class="list-unstyled topnav-menu float-right mb-0">
             <li class="dropdown notification-list">
                 <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown"
                     href="#" role="button" aria-haspopup="false" aria-expanded="false">
                     <img src="assets\images\users\avatar-1.jpg" alt="user-image" class="rounded-circle">
                     <span class="pro-user-name ml-1">
                         Nik Patel <i class="mdi mdi-chevron-down"></i>
                     </span>
                 </a>
                 <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                     <!-- item-->
                     <div class="dropdown-header noti-title">
                         <h6 class="text-overflow m-0">Welcome !</h6>
                     </div>

                     <!-- item-->
                     <a href="javascript:void(0);" class="dropdown-item notify-item">
                         <i class="remixicon-account-circle-line"></i>
                         <span>My Account</span>
                     </a>

                     <!-- item-->
                     <a href="javascript:void(0);" class="dropdown-item notify-item">
                         <i class="remixicon-settings-3-line"></i>
                         <span>Settings</span>
                     </a>

                     <!-- item-->
                     <a href="javascript:void(0);" class="dropdown-item notify-item">
                         <i class="remixicon-wallet-line"></i>
                         <span>My Wallet <span class="badge badge-success float-right">3</span> </span>
                     </a>

                     <!-- item-->
                     <a href="javascript:void(0);" class="dropdown-item notify-item">
                         <i class="remixicon-lock-line"></i>
                         <span>Lock Screen</span>
                     </a>

                     <div class="dropdown-divider"></div>

                     <!-- item-->
                     <a href="javascript:void(0);" class="dropdown-item notify-item">
                         <i class="remixicon-logout-box-line"></i>
                         <span>Logout</span>
                     </a>

                 </div>
             </li>


             <li class="dropdown notification-list">
                 <a href="javascript:void(0);" class="nav-link right-bar-toggle waves-effect waves-light">
                     <i class="fe-settings noti-icon"></i>
                 </a>
             </li>


         </ul>




     </div>
     <!-- end Topbar -->

     <!-- ========== Left Sidebar Start ========== -->
     <div class="left-side-menu">

         <div class="slimscroll-menu">

             <!--- Sidemenu -->
             <div id="sidebar-menu">

                 <ul class="metismenu" id="side-menu">

                     <li class="menu-title">Navigation</li>

                     <li>
                         <a href="javascript: void(0);" class="waves-effect">
                             <i class="remixicon-dashboard-line"></i>
                             <!-- <span class="badge badge-success badge-pill float-right">2</span> -->
                             <span> Quản lí </span>
                         </a>
                         <ul class="nav-second-level" aria-expanded="false">
                             <li>
                                 <a href="http://localhost:4000/tables-datatables.html">Danh sách điểm danh</a>
                             </li>
                             <li>
                                 <a href="http://localhost:4000/charts-flot.html">Thống kê</a>

                             </li>

                         </ul>
                     </li>


                     <li>
                         <a href="javascript: void(0);" class="waves-effect">
                             <i class="remixicon-stack-line"></i>
                             <span> Thêm </span>
                             <span class="menu-arrow"></span>
                         </a>
                         <ul class="nav-second-level" aria-expanded="false">
                             <li>
                                 <a href="http://localhost:3000/upload ">Thêm Thông Tin Sinh Viên</a>
                             </li>
                         </ul>
                     </li>
                 </ul>
             </div>
         </div>
     </div>

                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                     <div class="row">
                         <div class="col-12">
                             <div class="page-title-box">
                                 <div class="page-title-right">
                                     <ol class="breadcrumb m-0">
                                         <li class="breadcrumb-item"><a href="javascript: void(0);">Điểm danh sinh
                                                 viên</a></li>
                                         <li class="breadcrumb-item"><a href="javascript: void(0);">Danh sách điểm danh</a></li>

                                     </ol>
                                 </div>
                                 <h4 class="page-title">Danh sách điểm danh</h4>
                             </div>
                         </div>
                     </div>
                    <!-- end page title -->

                    <div class="row">
                  
                        <div class="col-12">
                            <div class="card">

                                    <div class="card-header">
                                        <p style="text-align: left; text-transform: uppercase;"> Trường đại học công nghiệp TP. Hồ Chí Minh </p>
                                        <p style="text-align: left; padding-left: 20px; text-transform: uppercase; display:inline-block ; border-bottom:1px solid black; padding-bottom:2px; font-weight: bolder;"> khoa Công nghệ thông tin </p>
                                        
                                      <h4 class="justify-center" style="text-transform: uppercase;text-align: center;font-weight: bold;"> danh sách sinh viên môn : công nghệ mới</h4>
                                        <li style="list-style-type: none; text-align: center;">
                                              Lớp học phần : CNM
                                            
                                        </li>

                                           
                                    
                                    </div>
                                  
                              
                                <div class="card-body">


                                    <table id="tblData" class="table dt-responsive table-bordered nowrap">

                                        <thead id="header" >


                                        </thead>


                                        <tbody id="students">

                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="dt-buttons btn-group">

                                                <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0"
                                                    aria-controls="datatable-buttons" type="button" onclick="exportTableToExcel('tblData',
                                                     'members-data')"><span> Export Table Data To Excel
                                                        File</span></button>
                                            </div>
                                        </div>

                                    </div>
                

                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div>
                    <!-- end row-->



                    <!-- end row-->

                </div> <!-- container -->

            </div> <!-- content -->

            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            2016 - 2019 &copy; Minton theme by <a href="">Coderthemes</a>
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript:void(0);">About Us</a>
                                <a href="javascript:void(0);">Help</a>
                                <a href="javascript:void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

    <!-- Right Sidebar -->
    <div class="right-bar">
        <div class="rightbar-title">
            <a href="javascript:void(0);" class="right-bar-toggle float-right">
                <i class="fe-x noti-icon"></i>
            </a>
            <h4 class="m-0 text-white">Settings</h4>
        </div>
        <div class="slimscroll-menu">
            <!-- User box -->
            <div class="user-box">
                <div class="user-img">
                    <img src="assets\images\users\avatar-1.jpg" alt="user-img" title="Mat Helme"
                        class="rounded-circle img-fluid">
                    <a href="javascript:void(0);" class="user-edit"><i class="mdi mdi-pencil"></i></a>
                </div>

                <h5><a href="javascript: void(0);">Nik G. Patel</a> </h5>
                <p class="text-muted mb-0"><small>Admin Head</small></p>
            </div>

            <ul class="nav nav-pills bg-light nav-justified">
                <li class="nav-item">
                    <a href="#home1" data-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                        General
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#messages1" data-toggle="tab" aria-expanded="false" class="nav-link rounded-0 active">
                        Chat
                    </a>
                </li>
            </ul>
            <div class="tab-content pl-3 pr-3">
                <div class="tab-pane" id="home1">
                    <div class="row mb-2">
                        <div class="col">
                            <h5 class="m-0 font-15">Notifications</h5>
                            <p class="text-muted"><small>Do you need them?</small></p>
                        </div> <!-- end col-->
                        <div class="col-auto">
                            <div class="custom-control custom-switch mb-2">
                                <input type="checkbox" class="custom-control-input" id="tabswitch1">
                                <label class="custom-control-label" for="tabswitch1"></label>
                            </div>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row-->

                    <div class="row mb-2">
                        <div class="col">
                            <h5 class="m-0 font-15">API Access</h5>
                            <p class="text-muted"><small>Enable/Disable access</small></p>
                        </div> <!-- end col-->
                        <div class="col-auto">
                            <div class="custom-control custom-switch mb-2">
                                <input type="checkbox" class="custom-control-input" checked="" id="tabswitch2">
                                <label class="custom-control-label" for="tabswitch2"></label>
                            </div>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row-->

                    <div class="row mb-2">
                        <div class="col">
                            <h5 class="m-0 font-15">Auto Updates</h5>
                            <p class="text-muted"><small>Keep up to date</small></p>
                        </div> <!-- end col-->
                        <div class="col-auto">
                            <div class="custom-control custom-switch mb-2">
                                <input type="checkbox" class="custom-control-input" id="tabswitch3">
                                <label class="custom-control-label" for="tabswitch3"></label>
                            </div>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row-->

                    <div class="row mb-2">
                        <div class="col">
                            <h5 class="m-0 font-15">Online Status</h5>
                            <p class="text-muted"><small>Show your status to all</small></p>
                        </div> <!-- end col-->
                        <div class="col-auto">
                            <div class="custom-control custom-switch mb-2">
                                <input type="checkbox" class="custom-control-input" checked="" id="tabswitch4">
                                <label class="custom-control-label" for="tabswitch4"></label>
                            </div>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row-->

                    <div class="alert alert-success alert-dismissible fade mt-3 show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h5>Unlimited Access</h5>
                        Upgrade to plan to get access to unlimited reports
                        <br>
                        <a href="javascript: void(0);" class="btn btn-outline-success mt-3 btn-sm">Upgrade<i
                                class="ml-1 mdi mdi-arrow-right"></i></a>
                    </div>

                </div>
                <div class="tab-pane show active" id="messages1">
                    <div>
                        <div class="inbox-widget">
                            <h5 class="mt-0">Recent</h5>
                            <div class="inbox-item">
                                <div class="inbox-item-img"><img src="assets\images\users\avatar-2.jpg"
                                        class="rounded-circle" alt=""> <i class="online user-status"></i></div>
                                <p class="inbox-item-author"><a href="javascript: void(0);"
                                        class="text-dark">Tomaslau</a></p>
                                <p class="inbox-item-text">I've finished it! See you so...</p>
                            </div>
                            <div class="inbox-item">
                                <div class="inbox-item-img"><img src="assets\images\users\avatar-3.jpg"
                                        class="rounded-circle" alt=""> <i class="away user-status"></i></div>
                                <p class="inbox-item-author"><a href="javascript: void(0);"
                                        class="text-dark">Stillnotdavid</a></p>
                                <p class="inbox-item-text">This theme is awesome!</p>
                            </div>
                            <div class="inbox-item">
                                <div class="inbox-item-img"><img src="assets\images\users\avatar-4.jpg"
                                        class="rounded-circle" alt=""> <i class="online user-status"></i></div>
                                <p class="inbox-item-author"><a href="javascript: void(0);"
                                        class="text-dark">Kurafire</a></p>
                                <p class="inbox-item-text">Nice to meet you</p>
                            </div>

                            <div class="inbox-item">
                                <div class="inbox-item-img"><img src="assets\images\users\avatar-5.jpg"
                                        class="rounded-circle" alt=""> <i class="busy user-status"></i></div>
                                <p class="inbox-item-author"><a href="javascript: void(0);"
                                        class="text-dark">Shahedk</a></p>
                                <p class="inbox-item-text">Hey! there I'm available...</p>
                            </div>
                            <div class="inbox-item">
                                <div class="inbox-item-img"><img src="assets\images\users\avatar-6.jpg"
                                        class="rounded-circle" alt=""> <i class="user-status"></i></div>
                                <p class="inbox-item-author"><a href="javascript: void(0);"
                                        class="text-dark">Adhamdannaway</a></p>
                                <p class="inbox-item-text">This theme is awesome!</p>
                            </div>

                            <hr>
                            <h5>Favorite <span class="float-right badge badge-pill badge-danger">18</span></h5>
                            <hr>
                            <div class="inbox-item">
                                <div class="inbox-item-img"><img src="assets\images\users\avatar-7.jpg"
                                        class="rounded-circle" alt=""> <i class="busy user-status"></i></div>
                                <p class="inbox-item-author"><a href="javascript: void(0);"
                                        class="text-dark">Kennith</a></p>
                                <p class="inbox-item-text">I've finished it! See you so...</p>
                            </div>
                            <div class="inbox-item">
                                <div class="inbox-item-img"><img src="assets\images\users\avatar-3.jpg"
                                        class="rounded-circle" alt=""> <i class="busy user-status"></i></div>
                                <p class="inbox-item-author"><a href="javascript: void(0);"
                                        class="text-dark">Stillnotdavid</a></p>
                                <p class="inbox-item-text">This theme is awesome!</p>
                            </div>
                            <div class="inbox-item">
                                <div class="inbox-item-img"><img src="assets\images\users\avatar-10.jpg"
                                        class="rounded-circle" alt=""> <i class="online user-status"></i></div>
                                <p class="inbox-item-author"><a href="javascript: void(0);"
                                        class="text-dark">Kimberling</a></p>
                                <p class="inbox-item-text">Nice to meet you</p>
                            </div>

                            <div class="inbox-item">
                                <div class="inbox-item-img"><img src="assets\images\users\avatar-4.jpg"
                                        class="rounded-circle" alt=""> <i class="user-status"></i></div>
                                <p class="inbox-item-author"><a href="javascript: void(0);"
                                        class="text-dark">Kurafire</a></p>
                                <p class="inbox-item-text">Hey! there I'm available...</p>
                            </div>
                            <div class="inbox-item">
                                <div class="inbox-item-img"><img src="assets\images\users\avatar-9.jpg"
                                        class="rounded-circle" alt=""> <i class="away user-status"></i></div>
                                <p class="inbox-item-author"><a href="javascript: void(0);"
                                        class="text-dark">Leonareade</a></p>
                                <p class="inbox-item-text">This theme is awesome!</p>
                            </div>

                            <div class="text-center mt-2">
                                <a href="javascript:void(0);" class="text-muted"><i
                                        class="mdi mdi-spin mdi-loading mr-1"></i> Load more </a>
                            </div>

                        </div> <!-- end inbox-widget -->
                    </div> <!-- end .p-3-->
                </div>
            </div>

        </div> <!-- end slimscroll-menu-->
    </div>
    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>
    <!-- Vendor js -->
    <script src="assets\js\vendor.min.js"></script>

    <!-- third party js -->
    <script src="assets\libs\datatables\jquery.dataTables.min.js"></script>
    <script src="assets\libs\datatables\dataTables.bootstrap4.js"></script>
    <script src="assets\libs\datatables\dataTables.responsive.min.js"></script>
    <script src="assets\libs\datatables\responsive.bootstrap4.min.js"></script>
    <script src="assets\libs\datatables\dataTables.buttons.min.js"></script>
    <script src="assets\libs\datatables\buttons.bootstrap4.min.js"></script>
    <script src="assets\libs\datatables\buttons.html5.min.js"></script>
    <script src="assets\libs\datatables\buttons.flash.min.js"></script>
    <script src="assets\libs\datatables\buttons.print.min.js"></script>
    <script src="assets\libs\datatables\dataTables.keyTable.min.js"></script>
    <script src="assets\libs\datatables\dataTables.select.min.js"></script>
    <script src="assets\libs\pdfmake\pdfmake.min.js"></script>
    <script src="assets\libs\pdfmake\vfs_fonts.js"></script>
    <!-- third party js ends -->

    <!-- Datatables init -->
    <script src="assets\js\pages\datatables.init.js"></script>

    <!-- App js -->
    <script src="assets\js\app.min.js"></script>
    <script>
        async function getDSSV() {
            console.log('abc')
            const result = await $.ajax({
                async: false,
                method: 'GET',
                url: 'http://localhost:4000/getListAttendClass',
                // contentType: "application/json",
                success: function (data) {
                    console.log(data);
                },

            });
            return result;
        }

        async () => {
            await $.ajax({
                async: false,
                method: 'GET',
                url: 'http://localhost:4000/getHeaderTable',
                // contentType: "application/json",
                success: function (data) {
                    // console.log(data);
                    getData(data);
                }

            });
            // return result;
        }
        function addDays(date, days) {
        const copy = new Date(Number(date))
        copy.setDate(date.getDate() + days)
        return copy
        }
        
        window.onload = async () => {
            var htmlHeader =
                ` <tr>
                <th>STT</th>
                <th>MSSV</th>
                <th>Họ và tên</th>
                
            `

            var htmlBody = ``;

            await $.ajax({
                async: false,
                method: 'GET',
                url: 'http://localhost:4000/getHeaderTable',
                // contentType: "application/json",
                success: function (data) {
                    data.map((value, index) => {
                        console.log(value);
                        return htmlHeader +=
                            `<th>${value.day_go_to_school.substring(0,10).split("-").reverse().join("-").substring(0,5)}</th>`
                    });
                    htmlHeader += '</tr>';
                    document.getElementById('header').innerHTML = htmlHeader;
                }


            });
            
            await $.ajax({
                async: false,
                method: 'GET',
                url: 'http://localhost:4000/getListAttendClass',
                // contentType: "application/json",
                success: function (data) {
                    console.log(data);

                    data.map((value, index) => {
                        htmlBody +=
                            `
                         <tr>
                             <td>${index+1}</td>
                             <td>${value.id}</td>
                             <td>${value.fullname}</td>
                         `
                        value.array_agg.map((data, index) => {
                            htmlBody += `<td>${(data===2?'X':'')}</td>`
                        })
                        htmlBody += '</tr>'
                    })
                    document.getElementById('students').innerHTML = htmlBody;
                    console.log(htmlBody);
                }

            });
        }
    </script>

</body>

</html>